
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', "sans-serif";
    padding: 0;
    margin: 0;
}

.nav {
    background-color: rgb(237, 55, 0);
    height: 15vh;
    padding: 5vh;
}

.logo{
    height: 8vh;
    text-align: center;

}

.hero {
    background-image: url("images/pexels-photo-2922140.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    height: 100%;
}

.heroText{
    text-align: center;
    width: 100%;
    max-height: 20px;
    /* padding: 0 200px; */
    /* padding-top: 200px; */
    text-align: center;
    color: rgba(255, 255, 255, 0.769);
}
.title {
    margin-bottom: 20px;
    font-family: "Roboto";

}

.Description {
    line-height: 35px;
}

.images360 {
    display: inline;
    margin-top: 30px;
    min-width: 100%;
    min-height: 100%;
}

.firstImg{
    width: 400px;
    display: inline;
}
.secondImg{
    width: 400px;
    display: inline;
}